.page-projects{
    overflow-y:auto;
    overflow-x:hidden;
    .controlpanel{
        height: 40px;
        .btn .rubix-icon{
            margin-right: 10px;
        }
        .left{
            float: left;
        }
        .right{
            float: right;
        }
        border-bottom: 1px solid darkgrey;
    }
    .owner{
        margin-left: 20px;
        .ownerPicture{
            float: left;
            width: 30px;
            height: 30px;
        }
        .ownerName{
            float: left;
            margin-left: 10px;
            margin-top: 2px;
        }        
    }

}