.page-schedule{    
    height: ~"calc(100vh - 89px)";
    margin-top: -24px;
    margin-bottom: -24px;
    .pane{
        display: none;
    }
    .rubix-panel-container-with-controls{
        height: 100%;
        .rubix-panel-container{
            height: 100%;
            border-radius: 0px;
            .rubix-panel-header{
                border-radius: 0px;
                margin-bottom: 0px;
                .nav > li > a {
                    line-height: 1.5;
                    padding: 5px;
                    border-radius: 0px;
                }
            }
        }
    }
}